<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"><!--default-init-method="init" default-destroy-method="destroy"默认销毁-->

    <bean id="helloWorld"
          class="com.test1.HelloWorld"
          scope="singleton"
            init-method="init" destroy-method="destroy"><!--singleton单例类型 默认作用域 加上init,destroy销毁-->
        <property name="message" value="Hello World!"/>
    </bean>
    <bean class="com.test1.InitHelloWorld"/>

    <bean id="helloWorld1" class="com.test1.HelloWorld1">
        <property name="message1" value="Hello World!"/>
        <property name="message2" value="Hello Second World!"/>
    </bean>

    <bean id="helloIndia" class="com.test1.HelloIndia" parent="helloWorld1"> <!--parent 继承 -->
        <property name="message1" value="Hello India!"/>
        <property name="message3" value="Namste India!"/>
    </bean>

</beans>